{% extends "shop/base.html" %}
{% load static %}
{% block content %}



                    {#Карточки товара #}
{#-------------------------------------------------------------------------------------------#}
<section class="main-content">

		<div class="container">

			<div class="row">
                {% for item in product %}
				<div class="col-lg-4 col-sm-6 mb-3">
                        <div class="product-card">
						<div class="product-thumb">
							<a href="#"><img src="{{ item.image.url }}" alt=""></a>
						</div>
						<div class="product-details">
							<h4><a href="#">{{ item.name }}</a></h4>
							<p>{{ item.description_config }}</p>
							<div class="product-bottom-details d-flex justify-content-between">
								<div class="product-price">
									<small>$230.99</small> {{ item.price }} rub
								</div>
								<div class="product-links">
									<a href="#"><i class="fas fa-shopping-cart"></i></a>
									<a href="#"><i class="far fa-heart"></i></a>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
             {% endfor %}
</section>
{#-------------------------------------------------------------------------------------------#}


{% endblock content %}